*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
header{
    display: grid;
    grid-template-areas: "nav-1 nav-2";
    background-color: #1a1a1a;
    padding: 40px 40px 90px 40px;
}
.nav-1{
    grid-area: nav-1;
}
.nav-1 li{
    display: inline-block;
    padding: 10px;
}
.nav-1 a{
    text-transform: uppercase;
    color: #fff;
}

.nav-2{
    grid-area: nav-2;
    justify-self: end;
}
.nav-2 li{
    display: inline-block;
    margin-right: 10px;
}
.nav-2 i{
    color: #fff;
    font-size: larger;
}
